<main
  class="bg-white dark:bg-black flex items-center justify-center"
>
  <section class="max-w-4xl mx-auto my-6 md:my-10 px-4 md:px-12">
    <div
      class=" bg-gray rounded-2xl my-6 px-8 py-8 dark:bg-gray-dark dark:text-white"
     
    >
      <h1 class="text-center font-display font-bold md:text-4xl text-3xl mb-8">
        Privacy Policy
      </h1>
      <p class="text-xl text-pretty mt-4">
        At MindSpeak, safeguarding your privacy is our utmost priority. As an
        organization committed to maintaining the confidentiality and security
        of our users, we want to assure you that we have implemented stringent
        measures to protect your personal information.
      </p>
      <p class="text-xl text-pretty mt-4">
        Rest assured that when you visit our website, we do not collect any
        personal data, including emails or any other personally identifiable
        information. Our focus is solely on providing you with a seamless and
        immersive user experience without compromising your privacy.
      </p>
      <p class="text-xl text-pretty mt-4">
        Furthermore, to reinforce our commitment to privacy, we have
        deliberately refrained from using cookies on our website. This means
        that we do not track your online activities, preferences, or browsing
        history. We firmly believe that your online presence should remain your
        own, free from intrusive surveillance or data collection.
      </p>
      <p class="text-xl text-pretty mt-4">
        In addition to not collecting personal information or utilizing cookies,
        we want to emphasize that we do not share any data with third parties.
        Your trust is of paramount importance to us, and we take every
        precaution to ensure that your information remains confidential and
        secure within our systems.
      </p>
      <p class="text-xl text-pretty mt-4">
        By adhering to these principles, MindSpeak aims to create a safe and
        trusted space for our users to engage with our content, services, and
        community. We firmly believe that privacy is a fundamental right, and we
        are committed to upholding it every step of the way.
      </p>
      <p class="text-xl text-pretty mt-4">
        Thank you for choosing MindSpeak, where your privacy is valued and
        protected.
      </p>
    </div>
  </section>
</main>
