<div class="bg-white dark:bg-black mx-auto p-4 pt-8 lg:pt-10" *ngIf="article">
  <p
    class="text-gray-dark dark:text-gray text-sm font-sans text-center mb-6 lg:mb-12"
  >
    {{ getDateTimeString() }}
  </p>
  <h1
    class="text-4xl max-w-4xl mx-auto font-display text-black dark:text-white text-center mb-8 lg:text-6xl lg:mb-12"
  >
    {{ article.title }}
  </h1>
  <h2
    class="text-lg font-sans text-gray-dark dark:text-gray text-center mb-8 lg:mb-12"
  >
    {{ article.subtitle }}
  </h2>
  <div
    class="text-black dark:text-white text-sans first-letter:text-white first-letter:bg-black dark:first-letter:text-black dark:first-letter:bg-white article-content text-lg px-4 py-8 lg:px-60 lg:py-10"
    markdown
    [src]="articleMd"
    ngPreserveWhitespaces
  ></div>
</div>
