:root {
  --accent: #a308f7;
  --primary: #1c059e;
  --secondary: #edcefd;
  --light: #f7f3ff;
  --dark: #021231;
  --gray: #d9d7f1;
  --bg: #fafcff;
}

body,
html {
  margin: 0px;
  padding: 0px;
  background-color: var(--bg);
}

.row {
  margin: 0px;
  background-color: var(--bg);
}

