:root {
  --accent: #a308f7;
  --primary: #1c059e;
  --secondary: #edcefd;
  --light: #f7f3ff;
  --dark: #021231;
  --gray: #f2f5f8;
  --light-purple: #d9d7f1;
  --bg: #fafcff;
}

body,
html {
  background-color: var(--bg);
  font-family: 'tenor sans', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
