<div class="row cont">
  <div class="col-md-12">
    <div class="calc">
      <div class="res">
        
      </div>
      <div class="btns">
        <div class="row">
          <div class="col">
            <button class="btn btn-danger" (click)="clear()">C</button>
          </div>
          <div class="col">
            <button class="btn btn-danger" (click)="back()">
              <i class="bi bi-backspace-fill"></i>
            </button>
          </div>
          <div class="col">
            <button class="btn btn-danger" (click)="percent()">%</button>
          </div>
          <div class="col">
            <button class="btn btn-danger" (click)="div()">/</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-danger" (click)="num(7)">7</button>
          </div>
          <div class="col">
            <button class="btn btn-danger" (click)="num(8)">8</button>
          </div>
          <div class="col">
            <button class="btn btn-danger" (click)="num(9)">9</button>
          </div>
          <div class="col">
            <button class="btn btn-danger" (click)="mul()">x</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-danger" (click)="num(4)">4</button>
          </div>
          <div class="col">
            <button class="btn btn-danger" (click)="num(5)">5</button>
          </div>
          <div class="col">
            <button class="btn btn-danger" (click)="num(6)">6</button>
          </div>
          <div class="col">
            <button class="btn btn-danger" (click)="sub()">-</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-danger" (click)="num(1)">1</button>
          </div>
          <div class="col">
            <button class="btn btn-danger" (click)="num(2)">2</button>
          </div>
          <div class="col">
            <button class="btn btn-danger" (click)="num(3)">3</button>
          </div>
          <div class="col">
            <button class="btn btn-danger" (click)="add()">+</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-danger" (click)="num(0)">00</button>
          </div>
          <div class="col">
            <button class="btn btn-danger" (click)="num(00)">0</button>
          </div>
          <div class="col">
            <button class="btn btn-danger" (click)="dot()">.</button>
          </div>
          <div class="col">
            <button class="btn btn-danger" (click)="equal()">=</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
