<div class="row vhh-100">
  <div
    class="col-md-6 d-flex flex-column justify-content-center"
    data-aos="fade-right"
    [ngClass]="{
    'order-1': isMobile,
  }"
  >
    <h1 class="display-1">
      TickIt: Your Ultimate <strong class="gradient">To-Do</strong> List
      Companion.
    </h1>
    <button class="btn btn-primary" routerLink="/tasks">Get Started</button>
  </div>
  <div class="col-md-6" data-aos="fade-left">
    <img src="assets/images/hero.svg" alt="hero image" />
  </div>
</div>
<div class="spacer"></div>
<div class="row" data-aos="fade-up">
  <h2 class="display-3 text-center">Why TickIt?</h2>
  <div class="spacer-sm"></div>
  <div class="col-md-3" data-aos="fade-up" data-aos-delay="200">
    <div class="card gray-bg height-100">
      <i class="card-img-top bi bi-bullseye"></i>
      <div class="card-body">
        <h5 class="card-title text-center">Easy To Use</h5>
        <p class="card-text">
          Add, edit, and delete tasks effortlessly. Say goodbye to sticky notes
          and cluttered notebooks; TickIt streamlines your task management.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3" data-aos="fade-up" data-aos-delay="400">
    <div class="card gray-bg height-100">
      <i class="card-img-top bi bi-database-check"></i>
      <div class="card-body">
        <h5 class="card-title text-center">Data Persistence</h5>
        <p class="card-text">
          TickIt stores your tasks securely in your browser's local storage.
          Your tasks will be there when you return, allowing you to pick up
          right where you left off.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3" data-aos="fade-up" data-aos-delay="600">
    <div class="card gray-bg height-100">
      <i class="card-img-top bi bi-list-stars"></i>
      <div class="card-body">
        <h5 class="card-title text-center">Priority Levels</h5>
        <p class="card-text">
          Organize your tasks effortlessly with priority levels. TickIt lets you
          sort your tasks by priority (high, medium, low) to stay on top of what
          matters most.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3" data-aos="fade-up" data-aos-delay="800">
    <div class="card gray-bg height-100">
      <i class="card-img-top bi bi bi-phone"></i>
      <div class="card-body">
        <h5 class="card-title text-center">Responsive Design</h5>
        <p class="card-text">
          TickIt adapts to your lifestyle, whether you're on a desktop, tablet,
          or smartphone. Our responsive design ensures a smooth experience on
          any screen size.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="spacer"></div>

<div class="row" data-aos="fade-up" data-aos-delay="200">
  <div class="col-md-4 secondary-bg corner-10-left">
    <div class="card secondary-bg">
      <div class="card-body">
        <h3 class="display-3">How Does it Work?</h3>
        <p class="card-text">
          TickIt is designed with simplicity and functionality in mind, making
          it effortless to manage your tasks and stay organized. Here's how it
          works:
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 secondary-bg">
    <div class="card secondary-bg">
      <div class="card-body">
        <h5 class="card-title">
          <strong class="accent bigger">1.</strong> Add Your Tasks
        </h5>
        <p class="card-text">
          Add tasks to your list by clicking the "Add Task" button. Enter a
          title, description, and priority level for each task.
        </p>
      </div>
    </div>
    <div class="card secondary-bg">
      <div class="card-body">
        <h5 class="card-title">
          <strong class="accent bigger">2.</strong> Organize with Priority
        </h5>
        <p class="card-text">
          Sort your tasks by priority level to stay on top of what matters most.
          TickIt lets you sort your tasks by priority (high, medium, low) to
          stay on top of what matters most.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 secondary-bg corner-10-right">
    <div class="card secondary-bg">
      <div class="card-body">
        <h5 class="card-title">
          <strong class="accent bigger">3.</strong> Edit and Manage
        </h5>
        <p class="card-text">
          Edit your tasks by clicking the "Edit" button. You can also delete
          tasks by clicking the "Delete" button. TickIt makes it easy to manage
          your tasks.
        </p>
      </div>
    </div>
    <div class="card secondary-bg">
      <div class="card-body">
        <h5 class="card-title">
          <strong class="accent bigger">4.</strong> Sort and Filter Tasks
        </h5>
        <p class="card-text">
          Filter tasks by their status (completed or pending) to focus on what's
          currently relevant. TickIt puts you in the driver's seat.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="spacer"></div>

<div class="row" data-aos="fade-up">
  <h2 class="display-3 text-center">Plans & Pricing</h2>
  <div class="spacer-sm"></div>
  <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
    <div class="card light-bg height-100">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title text-center">Free</h5>
        <p class="text-center text-muted">Free</p>
        <p class="card-subtitle text-center">
          Ideal for individuals who want to get started with task management,
          our Free Plan provides an excellent starting point.
        </p>
        <ul class="card-text">
          <li>Task Management</li>
          <li>Task Status Tracking</li>
          <li>Priority Levels</li>
          <li>Responsive Design</li>
        </ul>
        <a routerLink="/tasks" class="btn btn-dark">Get Started</a>
      </div>
    </div>
  </div>
  <div class="col-md-4" data-aos="fade-up" data-aos-delay="400">
    <div class="card light-purple-bg height-100">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title text-center">Premium</h5>
        <p class="text-center text-muted">$4.99/month</p>
        <p class="card-subtitle text-center">
          Perfect for individuals who seek advanced features and an enhanced
          task management experience.
        </p>
        <ul class="card-text">
          <li>Everything in the Free Plan, plus:</li>
          <li>Task Editing and Deletion</li>
          <li>Data Persistence (Local Storage)</li>
          <li>Filtering and Sorting Options</li>
        </ul>
        <a routerLink="/tasks" class="btn btn-dark">Get Started</a>
      </div>
    </div>
  </div>
  <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
    <div class="card light-bg height-100">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title text-center">Enterprise</h5>
        <p class="text-center text-muted">$9.99/month</p>
        <p class="card-subtitle text-center">
          Designed for teams and professionals who need seamless collaboration
          and task management.
        </p>
        <ul class="card-text">
          <li>Everything in the Premium, plus:</li>
          <li>Collaboration and Sharing</li>
          <li>Team Task Assignment</li>
          <li>Real-time Task Updates</li>
        </ul>
        <a routerLink="/tasks" class="btn btn-dark">Contact</a>
      </div>
    </div>
  </div>
</div>
<div class="spacer"></div>

<div class="row">
  <h3 class="display-1 text-center" data-aos="fade-up" data-aos-delay="200">
    Your <strong class="gradient">Journey</strong> Shouldn't End Here.
  </h3>
  <div class="spacer-sm"></div>
  <p class="display-6 text-center" data-aos="fade-up" data-aos-delay="400">
    Checkout my other projects and follow me on social media to stay up to date
    with my latest work.
  </p>
  <div class="spacer-sm-2"></div>

  <a
    data-aos="fade-up"
    data-aos-delay="600"
    href="https://mohamed-rabie.vercel.app/"
    class="btn btn-light"
    target="_blank"
  >
    My Portfolio <i class="bi bi-arrow-up-right-circle"></i>
  </a>
</div>

<div class="spacer"></div>
