.row {
  padding: 0px 150px;
  width: 100%;
  background-color: var(--bg);
  margin: 0;
}
.spacer {
  height: 4rem;
  width: 100%;
  background-color: var(--bg);
}
.spacer-sm {
  height: 2rem;
  width: 100%;
  background-color: var(--bg);
}
.spacer-sm-2 {
  height: 1rem;
  width: 100%;
}
.btn-primary {
  background-color: var(--primary);
  border: none;
  outline: none;
  border-radius: 10px;
  color: var(--light);
  font-size: 1.5rem;
  padding: 10px 36px;
  cursor: pointer;
  margin: 30px 0px;
  width: 50%;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  background-color: var(--accent);
}
.display-1,
.gradient {
  font-family: "archivo", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: var(--dark);
}
.display-2 {
  font-family: "archivo", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: var(--dark);
}
.display-3 {
  font-family: "archivo", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--dark);
}
.display-6 {
  font-family: "archivo", sans-serif;
  font-size: 1.5rem;
  color: var(--dark);
}

.gradient {
  background: linear-gradient(to right, var(--primary), var(--accent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card {
  border-radius: 5px;
  padding: 10px;
  border: none;
}
.height-100 {
  height: 100%;
}
.gray-bg {
  background-color: var(--gray);
}
.light-bg {
  background-color: var(--light);
}
.light-purple-bg {
  background-color: var(--light-purple);
}
.secondary-bg {
  background-color: var(--secondary);
}
.corner-10-left {
  border-radius: 10px 0px 0px 10px;
}
.corner-10-right {
  border-radius: 0px 10px 10px 0px;
}
.card .bi {
  font-size: 6rem;
  color: var(--accent);
  text-align: center;
}
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "archivo", sans-serif;
  color: var(--dark);
  margin: 10px 0px;
}
.card-text {
  font-size: 1.2rem;
  color: var(--dark);
  margin: 20px 0px;
  margin-bottom: 0px;
}
.col-md-4 {
  padding: 20px;
}
.accent {
  color: var(--accent);
}
.bigger {
  font-size: 2rem;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0px 20px;
}
.btn-dark {
  background-color: var(--primary);
  color: var(--light);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 2rem;
}
.btn-dark:hover {
  background-color: var(--accent);
}
.btn-light {
  background-color: var(--secondary);
  color: var(--dark);
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
  width: 25%;
}
.btn-light:hover {
  background-color: var(--accent);
  color: var(--light);
}
@media (max-width: 768px) {
  .row {
    padding: 0px 20px;
  }
  .display-1,
  .gradient {
    font-size: 3rem;
  }
  .display-2 {
    font-size: 2.5rem;
  }
  .display-3 {
    font-size: 2rem;
  }
  .btn-primary {
    width: 100%;
    padding: 15px 0px;
    margin: 20px 0px;
  }
  .btn-light {
    width: 100%;
    padding: 15px 0px;
    margin: 20px 0px;
  }
  .col-md-3 {
    margin: 10px 0px;
  }
  .card .bi {
    font-size: 4rem;
  }
  .spacer {
    height: 4rem;
  }
  .spacer-sm {
    height: 2rem;
  }
  .spacer-sm-2 {
    height: 0.5rem;
  }
  .corner-10-left {
    border-radius: 10px 10px 0px 0px;
  }
  .corner-10-right {
    border-radius: 0px 0px 10px 10px;
  }
  .col-md-4 {
    padding: 10px;
  }
}
