<div class="row">
  <div
    class="col-md-6 d-flex flex-column justify-content-center"
    [ngClass]="{
    'order-1': isMobile,
  }"
  >
    <h1 class="display-1">
      TickIt: Your Ultimate <strong class="gradient">To-Do</strong> List Companion.
    </h1>
    <button class="btn btn-primary" routerLink="/tasks">Get Started</button>
  </div>
  <div class="col-md-6">
    <img src="assets/images/hero.svg" alt="hero image" />
  </div>
</div>
<div class="spacer"></div>
<div class="row">
  <h2 class="display-3 text-center">Why TickIt?</h2>
  <div class="spacer-sm"></div>
  <div class="col-md-3">
    <div class="card gray-bg height-100">
      <i class="card-img-top bi bi-bullseye"></i>
      <div class="card-body">
        <h5 class="card-title text-center">Easy To Use</h5>
        <p class="card-text">
          Add, edit, and delete tasks effortlessly. Say goodbye to sticky notes
          and cluttered notebooks; TickIt streamlines your task management.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card gray-bg height-100">
      <i class="card-img-top bi bi-database-check"></i>
      <div class="card-body">
        <h5 class="card-title text-center">Data Persistence</h5>
        <p class="card-text">
          TickIt stores your tasks securely in your browser's local storage.
          Your tasks will be there when you return, allowing you to pick up
          right where you left off.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card gray-bg height-100">
      <i class="card-img-top bi bi-list-stars"></i>
      <div class="card-body">
        <h5 class="card-title text-center">Priority Levels</h5>
        <p class="card-text">
          Organize your tasks effortlessly with priority levels. TickIt lets you
          sort your tasks by priority (high, medium, low) to stay on top of what
          matters most.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card gray-bg height-100">
      <i class="card-img-top bi bi bi-phone"></i>
      <div class="card-body">
        <h5 class="card-title text-center">Responsive Design</h5>
        <p class="card-text">
          TickIt adapts to your lifestyle, whether you're on a desktop, tablet,
          or smartphone. Our responsive design ensures a smooth experience on
          any screen size.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="spacer"></div>

<div class="row">
  <div class="col-md-4 secondary-bg corner-10-left">
    <div class="card secondary-bg">
      <div class="card-body">
        <h3 class="display-3">How Does it Work?</h3>
        <p class="card-text">
          TickIt is designed with simplicity and functionality in mind, making
          it effortless to manage your tasks and stay organized. Here's how it
          works:
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 secondary-bg">
    <div class="card secondary-bg">
      <div class="card-body">
        <h5 class="card-title"><strong class="accent bigger">1.</strong> Add Your Tasks</h5>
        <p class="card-text">
          Add tasks to your list by clicking the "Add Task" button. Enter a
          title, description, and priority level for each task.
        </p>
      </div>
    </div>
    <div class="card secondary-bg">
      <div class="card-body">
        <h5 class="card-title"><strong class="accent bigger">2.</strong> Organize with Priority</h5>
        <p class="card-text">
          Sort your tasks by priority level to stay on top of what matters most.
          TickIt lets you sort your tasks by priority (high, medium, low) to
          stay on top of what matters most.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 secondary-bg corner-10-right">
    <div class="card secondary-bg">
      <div class="card-body">
        <h5 class="card-title"><strong class="accent bigger">3.</strong> Edit and Manage</h5>
        <p class="card-text">
          Edit your tasks by clicking the "Edit" button. You can also delete
          tasks by clicking the "Delete" button. TickIt makes it easy to manage
          your tasks.
        </p>
      </div>
    </div>
    <div class="card secondary-bg">
      <div class="card-body">
        <h5 class="card-title"><strong class="accent bigger">4.</strong> Sort and Filter Tasks</h5>
        <p class="card-text">
          Filter tasks by their status (completed or pending) to focus on what's
          currently relevant. TickIt puts you in the driver's seat.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="spacer"></div>
