<main class="bg-white dark:bg-black px-6 py-4 lg:py-10 lg:px-40">
  <h1
    class="text-center text-4xl font-bold tracking-tight mb-6 lg:mb-12 font-display text-black dark:text-white sm:text-6xl"
  >
    About Me
  </h1>

  <div
    class="grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-2 md:gap-8 lg:gap-8"
  >
    <p
      class="mt-6 max-w-4xl mx-auto text-lg leading-8 text-black dark:text-white font-sans border-l-2 pl-4 lg:border-l-0 lg:pl-0 md:border-l-0 md:pl-0 lg:border-r-2 lg:pr-8 md:border-r-2 md:pr-8"
    >
      Hello! I'm Mohamed Rabie, and I'm passionate about front-end and web
      development. My journey in the world of coding started with a fascination
      for crafting beautiful and interactive websites.
    </p>
    <p
      class="mt-6 max-w-4xl text-lg mx-auto leading-8 text-black dark:text-white font-sans border-l-2 pl-4 lg:border-l-0 lg:pl-0 md:border-l-0 md:pl-0"
    >
      On this blog, I aim to share my experiences, insights, and the latest
      trends in web development. Whether you're a seasoned developer or just
      starting, my goal is to provide valuable resources that help you thrive in
      the ever-evolving web development landscape.
    </p>
    <p
      class="mt-6 max-w-4xl text-lg mx-auto leading-8 text-black dark:text-white font-sans border-l-2 pl-4 lg:border-l-0 lg:pl-0 md:border-l-0 md:pl-0 lg:border-r-2 lg:pr-8 md:border-r-2 md:pr-8"
    >
      Beyond coding, I'm a mobile photographer. I believe that a well-rounded
      life fuels creativity and problem-solving, two essential qualities in web
      development.
    </p>
    <p
      class="mt-6 max-w-4xl text-lg mx-auto leading-8 text-black dark:text-white font-sans border-l-2 pl-4 lg:border-l-0 lg:pl-0 md:border-l-0 md:pl-0"
    >
      Thank you for joining me on this journey. Feel free to explore my other
      work, and don't hesitate to reach out if you have any questions or simply
      want to chat about web development or anything else!
    </p>
  </div>

  <div class="mt-10 lg:mt-12 mb-6 flex items-center justify-center">
    <a
      href="https://mohamed-rabie.vercel.app/"
      target="_blank"
      class="rounded-md bg-gray-dark dark:bg-gray lg:mr-8 md:mr-8 px-5 py-2.5 text-sm font-semibold text-white dark:text-black shadow-sm hover:bg-black dark:hover:bg-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
      >My Portfolio</a
    >
  </div>
</main>
