<div class="bg-black mx-auto p-4">
  <div class="text-center max-w-2xl mx-auto mb-10">
    <h2 class="text-4xl font-display text-white mb-4">Articles</h2>
    <p class="mt-6 text-lg leading-8 text-gray font-sans">
      Dive into the world of front-end and web development with our insightful
      articles. Explore the latest trends, best practices, and tips.
    </p>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 py-2 px-4">
    <app-article-card
      [article]="article"
      *ngFor="let article of articles"
    ></app-article-card>
  </div>
</div>
