@import url('../home/home.component.css');
.row{
    height: calc(100vh - 100px);
}

img{
    width: 90%;
    margin: 0px;
    padding: 0px;
}

@media (max-width: 768px) {
    img{
        width: 100%;
    }
    *{
        text-align: center;
    }
}