@import url("../home/home.component.css");
.row {
  height: calc(100vh - 100px);
  width: 100%;
}

img {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

@media (max-width: 768px) {
  * {
    text-align: center;
  }
}
